@import "../../../shared/styles/base";

.footer {
  @include flex(flex-end);
  padding: 6px 10px;
  background: $footer-bg-color;
  font-family: Saira;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  &Text{
    color: $footer-primary-text-color;
  }
}
.nameDev{
  color: white;
}