.statBox{
  padding: 10px;
}
.caption{
  text-transform: uppercase;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.statContent{
  font-family: Saira;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
}
.number{
  font-family: Saira;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}