$accent-color: #000000;
$card-text-color: #333333;
$card-bg-color: #E8E8E8;
$header-text-color: #E8E8E8;
$footer-primary-text-color: #CBCACA;
$footer-secondary-text-color: #ffffff;
$header-bg-color: #696969;
$btn-bg-color: #696969;
$footer-bg-color: #696969;