@import "../../../shared/styles/base";

.form{
  @include flex(center);
  flex-wrap: wrap;
  position: relative;

  &::after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: -14px;
    right: -10px;
    background: #C4C4C4;
    width: 101%;
  }
  &Input{
    flex-grow: 1;
    background: #E8E8E8;
    border-radius: 5px;
    border: none;
    padding: 5px 16px;
    width: 235px;
    margin-bottom: 11px;
  }
  &Textarea{
    width: 100%;
    margin-bottom: 10px;
    height: 75px;
    background: #E8E8E8;
    border-radius: 5px;
    border: none;
    padding: 5px 16px;
    resize: none;
  }
  &Btn{
    font-family: Saira,"sans-serif";
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    border: 1px solid $btn-bg-color;
    border-radius: 5px;

    flex-grow: 1;
    background: $btn-bg-color;

    &:hover{
      background: transparent;
      color: $btn-bg-color;
      border: 1px solid $btn-bg-color;
      cursor: pointer;
    }
  }
}
.margin{
  margin-right: 11px;
}
.error{
  @include flex(center,center);
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  background: darkred;
  color: white;
  &Icon{
    margin-right: 50px;
    fill: red;
    stroke: red;
    width: 32px;
  }
}
